###############################################################################
# BEGIN: Base

export ZSH=/home/{{dotfiles_user}}/.oh-my-zsh

ZSH_THEME="cloud"

autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit
autoload -U add-zsh-hook

plugins=(
  git
  hab
)

source $ZSH/oh-my-zsh.sh

# END: Base
###############################################################################

###############################################################################
# BEGIN: Others

source {{ dotfiles_home }}/roles/zsh/files/aliases.zsh
source {{ dotfiles_home }}/roles/docker/files/docker.zsh
source {{ dotfiles_home }}/roles/fzf/files/fzf.zsh


"\e[A": history-search-backward
"\e[B": history-search-forward

set show-all-if-ambiguous on
set completion-ignore-case on

# END: Others
###############################################################################
